In [1]:
print("hello world")

hello world

In [5]:
# 변수 선언
val_1 = 1

In [7]:
val_1

1

In [13]:
#문자로 선언
val_2 = "hello world"
val_2

'hello world'

In [17]:
#int_1에 7을 할당하고 int_2 6을 할당 하세요
#int_1에서 int_2를 빼면 어떤 값이 나올까요?

int_1 = 7
int_2 = 6

int_3 = int_1 - int_2
int_3

1

In [ ]:
# 조건문 (if, for, while)

if<conditions>:
    <state>

if<conditions>:
    <state_1>
else:
    <state_2>


if<condition1>:
    <state>

elif<codition2>:
    <state_2>
    
elif<codition3>:
    <state_3>

else:
    <state_4>

In [19]:
money = True
if money :
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [21]:
#만약에 돈이 4300 이상 있으면 택시를 타고, 없으면 대중교통 이용 이라고 출력

money = 4300

if money >= 4300 :
    print("택시타기")

else:
    print("대중교통 이용")

택시타기

In [23]:
4000 == 4000
4000 != 4010
4000 == 4010
4500 >= 4010
4500 <= 4010

False

In [36]:
#만약에 돈이 4300 이상 있으면 택시를 타고, 4300 이하 1200 이상이면 대중교통 이용 
# 1200원 이하면 걸어가라고 출력

money = 400
if money >=4300:
    print("택시")
elif money <4300 and money >=1200:
    print("대중교통")
else :
    print("걸어가")

걸어가

In [68]:
money = int(input("값을 입력하세요: "))
if money >=4300:
    print("택시")
elif money >=1200:
    print("대중교통")
else :
    print("걸어가")

값을 입력하세요:  9784651325487945613234687964513

택시

In [80]:
#태어난 연도를 입력받고 연령대를 출력하도록 만들어 보세요

year = int(input("연도를 입력하세요 : "))

if year>= 1995:
    print("20대 입니다")
elif year >= 1985:
    print("40대 입니다")
else :
    print("나이가 너무 많습니다")

연도를 입력하세요 :  2020

20대 입니다

In [ ]:
# 반복문 (while, for)
while <condition>:
    <state1>
else:
    <state2>

for <val> in <seq>:
    <state1>

In [82]:
treehits = 0

while treehits < 10:
    print(f"도끼로 {treehits} 번 나무를 찍었습니다.") #f-string
    treehits = treehits+1

도끼로 0 번 나무를 찍었습니다.
도끼로 1 번 나무를 찍었습니다.
도끼로 2 번 나무를 찍었습니다.
도끼로 3 번 나무를 찍었습니다.
도끼로 4 번 나무를 찍었습니다.
도끼로 5 번 나무를 찍었습니다.
도끼로 6 번 나무를 찍었습니다.
도끼로 7 번 나무를 찍었습니다.
도끼로 8 번 나무를 찍었습니다.
도끼로 9 번 나무를 찍었습니다.

In [84]:
for val_1 in "hollw world":
    print(val_1)

h
o
l
l
w

w
o
r
l
d

In [90]:
#for 이용해서 list_1의 값을 모두 출력

list_1 = ["hello","world",1,2]
for a in list_1 :
    print(a)

hello
world
1
2

In [94]:
"hello" in ["hello" ,"world"]

True

In [96]:
list_2 = [0,1,2,3,4,5,6,7,8,9]

#for문을 이용해서 0,1,2,3 ... 출력

for a in list_2:
    print(a)

0
1
2
3
4
5
6
7
8
9

In [98]:
page = "https://finance.naver.com/item/main.nhn?code=005930"

In [110]:
#rage함수를 이용해서 네이버 증권 -> 하이닉스의 종토방의 링크를 25개 출력해보세요

for i in range (1,26):
    page = f"https://finance.naver.com/item/board.naver?code=000660&page={i}"
    print(page)

https://finance.naver.com/item/board.naver?code=000660&page=1
https://finance.naver.com/item/board.naver?code=000660&page=2
https://finance.naver.com/item/board.naver?code=000660&page=3
https://finance.naver.com/item/board.naver?code=000660&page=4
https://finance.naver.com/item/board.naver?code=000660&page=5
https://finance.naver.com/item/board.naver?code=000660&page=6
https://finance.naver.com/item/board.naver?code=000660&page=7
https://finance.naver.com/item/board.naver?code=000660&page=8
https://finance.naver.com/item/board.naver?code=000660&page=9
https://finance.naver.com/item/board.naver?code=000660&page=10
https://finance.naver.com/item/board.naver?code=000660&page=11
https://finance.naver.com/item/board.naver?code=000660&page=12
https://finance.naver.com/item/board.naver?code=000660&page=13
https://finance.naver.com/item/board.naver?code=000660&page=14
https://finance.naver.com/item/board.naver?code=000660&page=15
https://finance.naver.com/item/board.naver?code=000660&page=16
https://finance.naver.com/item/board.naver?code=000660&page=17
https://finance.naver.com/item/board.naver?code=000660&page=18
https://finance.naver.com/item/board.naver?code=000660&page=19
https://finance.naver.com/item/board.naver?code=000660&page=20
https://finance.naver.com/item/board.naver?code=000660&page=21
https://finance.naver.com/item/board.naver?code=000660&page=22
https://finance.naver.com/item/board.naver?code=000660&page=23
https://finance.naver.com/item/board.naver?code=000660&page=24
https://finance.naver.com/item/board.naver?code=000660&page=25

In [114]:
code = int(input("숫자 여섯자리를 입력하세요"))
for i in range (1,26):
    page = f"https://finance.naver.com/item/board.naver?code={code}&page={i}"
    print(page)

숫자 여섯자리를 입력하세요 157895

https://finance.naver.com/item/board.naver?code=157895&page=1
https://finance.naver.com/item/board.naver?code=157895&page=2
https://finance.naver.com/item/board.naver?code=157895&page=3
https://finance.naver.com/item/board.naver?code=157895&page=4
https://finance.naver.com/item/board.naver?code=157895&page=5
https://finance.naver.com/item/board.naver?code=157895&page=6
https://finance.naver.com/item/board.naver?code=157895&page=7
https://finance.naver.com/item/board.naver?code=157895&page=8
https://finance.naver.com/item/board.naver?code=157895&page=9
https://finance.naver.com/item/board.naver?code=157895&page=10
https://finance.naver.com/item/board.naver?code=157895&page=11
https://finance.naver.com/item/board.naver?code=157895&page=12
https://finance.naver.com/item/board.naver?code=157895&page=13
https://finance.naver.com/item/board.naver?code=157895&page=14
https://finance.naver.com/item/board.naver?code=157895&page=15
https://finance.naver.com/item/board.naver?code=157895&page=16
https://finance.naver.com/item/board.naver?code=157895&page=17
https://finance.naver.com/item/board.naver?code=157895&page=18
https://finance.naver.com/item/board.naver?code=157895&page=19
https://finance.naver.com/item/board.naver?code=157895&page=20
https://finance.naver.com/item/board.naver?code=157895&page=21
https://finance.naver.com/item/board.naver?code=157895&page=22
https://finance.naver.com/item/board.naver?code=157895&page=23
https://finance.naver.com/item/board.naver?code=157895&page=24
https://finance.naver.com/item/board.naver?code=157895&page=25

In [120]:
name = input ("검색어를 입력하세요: ")
a = int(input("시작페이지를 입력하세요: "))
b = int(input("종류페이지를 입력하세요: "))
for i in range(a,b+1):
    page = f"https://search.hankyung.com/search/news?query={name}&page={i}"
    print(page)

검색어를 입력하세요:  아이온큐
시작페이지를 입력하세요:  3
종류페이지를 입력하세요:  7

https://search.hankyung.com/search/news?query=아이온큐&page=3
https://search.hankyung.com/search/news?query=아이온큐&page=4
https://search.hankyung.com/search/news?query=아이온큐&page=5
https://search.hankyung.com/search/news?query=아이온큐&page=6
https://search.hankyung.com/search/news?query=아이온큐&page=7