In [5]:
from urllib.request import urlopen
import requests
from bs4 import BeautifulSoup as bs

In [7]:
#nate의 id가 newsTabMenu 인 테크를 찾아보자

import requests
html = requests.get("https://www.nate.com/")
soup = bs(html.text, "html.parser") #html 텍스트를 찾을 수 있는 형태로 변경

In [10]:
find_div = soup.find("div", id = "newsTabMenu") #find는 찾는다는 의미
find_div

<div class="menu" id="newsTabMenu">
<h4 class="menu01 on" id="newstab1"><a href="//news.nate.com/" onclick="newsBox.clickTabLink('tab1_set1');return false;" title="뉴스탭 열기">뉴스</a></h4>
<h4 class="menu02" id="newstab2"><a href="//sports.news.nate.com/" onclick="newsBox.clickTabLink('tab2_spo');return false;" title="스포츠탭 열기">스포츠</a></h4>
<h4 class="menu03" id="newstab3"><a href="//news.nate.com/ent/section?mid=e0100;" onclick="newsBox.clickTabLink('tab3_ent');return false;" title="연예탭 열기">연예</a></h4>
<h4 class="menu04" id="newstab4" style="display:none;"></h4>
<h4 class="menu05" id="newstab5"><a href="//news.nate.com/rank/?mid=n1000" onclick="newsBox.clickTabLink('tab5_ranking');return false;" title="랭킹뉴스탭 열기">랭킹뉴스</a></h4>
</div>

In [22]:
find_h4 = soup.find("h4", id = "newstab1") #find는 찾는다는 의미
find_h4

In [26]:
find_div.find("h4",id="newtab1")

In [28]:
find_div.find("h4")

In [30]:
find_div.find_all("h4")

[<h4 class="menu01 on" id="newstab1"><a href="//news.nate.com/" onclick="newsBox.clickTabLink('tab1_set1');return false;" title="뉴스탭 열기">뉴스</a></h4>,
 <h4 class="menu02" id="newstab2"><a href="//sports.news.nate.com/" onclick="newsBox.clickTabLink('tab2_spo');return false;" title="스포츠탭 열기">스포츠</a></h4>,
 <h4 class="menu03" id="newstab3"><a href="//news.nate.com/ent/section?mid=e0100;" onclick="newsBox.clickTabLink('tab3_ent');return false;" title="연예탭 열기">연예</a></h4>,
 <h4 class="menu04" id="newstab4" style="display:none;"></h4>,
 <h4 class="menu05" id="newstab5"><a href="//news.nate.com/rank/?mid=n1000" onclick="newsBox.clickTabLink('tab5_ranking');return false;" title="랭킹뉴스탭 열기">랭킹뉴스</a></h4>]

단계 1 :  사이트를 가져온다
단계 2 : html 텍스트를 찾을 수 있는 형태로 변경 (bs공부)
단계 3 : 원하는 tag를 찾는다. (id는 유일하게 사용할 수 있다.
                                class는 중복되어 사용할 수 있다.)
find , find_all 
해당하는 조건의 첫번째만 출력
해당하는 모든 조건을 검색해서 list로 반환


<과제>
로또 당첨 번호 https://dhlottery.co.kr/gameResult.do?method=byWin
네이버 인기 증시 크롤링 
인기 검색 목록 가져오기 
한경 url 제목 가져오기

In [109]:
#로또 당첨 번호

import requests
html = requests.get("https://dhlottery.co.kr/gameResult.do?method=byWin")
soup = bs(html.text, "html.parser")

box = soup.find("div", {"class":"nums"})
nums = box.find_all("span")
result = []
for num in nums:
    result.append(num.text)
print(result)

['1', '9', '10', '13', '35', '44', '5']

In [191]:
nums = box.find_all("span")
print(nums) # nums에는 span 태그에 있는 데이터 값을 빈 리스트에 정리 후 출력한다.
nums[0].text # 그 이후 리스트 첫번째 중 텍스트를 출력할 수 있게 된다.

[<span class="ball_645 lrg ball1">1</span>, <span class="ball_645 lrg ball1">9</span>, <span class="ball_645 lrg ball1">10</span>, <span class="ball_645 lrg ball2">13</span>, <span class="ball_645 lrg ball4">35</span>, <span class="ball_645 lrg ball5">44</span>, <span class="ball_645 lrg ball1">5</span>]

'1'

In [177]:
#로또 추첨 코드 실습 중 append 메서드 추가 설명

list_1 = ["A","b"]  #리스트는 빈공간에 잠깐 추가하는 것이다.
list_1.append("c")
list_1

['A', 'b', 'c']

In [183]:
list_2 = []
for i in range(10):
    list_2.append(i)
    print(list_2)
list_2

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

태그의 값이 dictionary 일 경우 태그를 = 이 아닌 : 으로 정의 한다
그 후 배열에 들어있는 전체의 값을 가지고 오기 위해서 find_all을 이용하여 내가 필요한 정보의 전체 태그의 값을 가지고 온다.

enumerate는 내장 함수로 (범위, 함수 시작점)
즉 배열의 값을 출력시키고 함수 시작점을 기점으로 숫자번호로 나열을 해준다.

In [97]:
list_a = ["a","b","c"]
for j, list_a in enumerate(list_a,1): #함수 시작점을 1로 설정할 경우 0+1로 시작하여 숫자번호를 나열해준다.
    print(j,list)

1 a
2 b
3 c

In [205]:
#네이버 인기 증시 크롤링
import requests
html = requests.get("https://finance.naver.com/sise/")
soup = bs(html.text, "html.parser")

find_ul = soup.find("ul",{"id":"popularItemList"}).find_all("li")
for j,i in enumerate(find_ul):
    print(f'{j+1} {i.find("a").text}')

1 SK하이닉스
2 삼성전자
3 한국첨단소재
4 SKC
5 레인보우로보틱스
6 한화오션
7 한미반도체
8 유한양행
9 알테오젠
10 HLB

In [168]:
#한경 뉴스 검색 제목 크롤링

import requests
name = input("검색어를 입력하세요: ")
hankyung_url = f"https://search.hankyung.com/search/news?query={name}&page=1"
hankyung_raw = requests.get(hankyung_url)
hankyung_bs = bs(hankyung_raw.text, "html.parser")
hankyung_bs.find("div", {"class":"section_cont"})
for i in hankyung_bs.find("div", {"class":"section_cont"}).find_all("li"):
    print(i.find("em", class_="tit").text)

검색어를 입력하세요:  네이버

08일, 기관 거래소에서 카카오(-3.23%), KODEX 200선물인버스2X(-1.68%) 등 순매도
정동영 "AI 반도체·팹리스 육성 절실"
코스피, 계엄 이후 첫 2500선 회복...삼전 3% 강세
코스피, '파죽지세'…"올들어 하루 빼고 다 올랐다"
돌코리아, 설 과일 선물세트 출시…최대 34% 할인
연 5.64% , DSR 무관 상품으로 자금 확보나 추가 매수가 가능하다?
트럼프 수혜주 외국인, 기관 순매수 현황은?
"죽겠네" 비명 지르는데…주가 고공행진에 조용히 웃는 기업 [종목+]
DSR에 스트레스 받는 투자자들위해 한도 깔끔히 해결한 '업계 1위' 스탁론
코스피, 삼성전자 강세에 2510선 회복…­코스닥은 ↓

for i in hankyung_bs.find("div", {"class":"section_cont"}).find_all("li"):
    print(i.find("em", class_="tit").text)

    => class_ 언더바를 사용하는 이유는?

In [173]:
for i in range(5):
    print(i)

0
1
2
3
4